<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/actop_system?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="com/actop/db/Projects.hbm.xml"/>
    <mapping resource="com/actop/db/DepartmentsHasDesignation.hbm.xml"/>
    <mapping resource="com/actop/db/LeaveTypes.hbm.xml"/>
    <mapping resource="com/actop/db/Employers.hbm.xml"/>
    <mapping resource="com/actop/db/StatusTypes.hbm.xml"/>
    <mapping resource="com/actop/db/Allowances.hbm.xml"/>
    <mapping resource="com/actop/db/InterfacesHasUserLogin.hbm.xml"/>
    <mapping resource="com/actop/db/PaymentTypes.hbm.xml"/>
    <mapping resource="com/actop/db/ProjectTypes.hbm.xml"/>
    <mapping resource="com/actop/db/Leave.hbm.xml"/>
    <mapping resource="com/actop/db/UserLogin.hbm.xml"/>
    <mapping resource="com/actop/db/Promotions.hbm.xml"/>
    <mapping resource="com/actop/db/Clients.hbm.xml"/>
    <mapping resource="com/actop/db/OtherTypes.hbm.xml"/>
    <mapping resource="com/actop/db/ProjectTasks.hbm.xml"/>
    <mapping resource="com/actop/db/Other.hbm.xml"/>
    <mapping resource="com/actop/db/Interfaces.hbm.xml"/>
    <mapping resource="com/actop/db/Attendance.hbm.xml"/>
    <mapping resource="com/actop/db/Payments.hbm.xml"/>
    <mapping resource="com/actop/db/Departments.hbm.xml"/>
    <mapping resource="com/actop/db/EmployersHasAllowances.hbm.xml"/>
    <mapping resource="com/actop/db/Designation.hbm.xml"/>
    <mapping resource="com/actop/db/TaskPriority.hbm.xml"/>
    <mapping resource="com/actop/db/ProjectTaskStates.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
